<!DOCTYPE html>
<html>
<head>
  <title>Manage</title>
  
 <link data-turbolinks-track="true" href="/assets/login.css?body=1" media="all" rel="stylesheet" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
